<% if signed_in? %>
	<section class="user_info">
    <%= render 'shared/user_info' %>
	</section>

	<section class="micropost_form">
    <%= render 'shared/micropost_form' %>
	</section>	
<% else %>
	welcome<br />
  <%= link_to 'sign up', signup_path %>
<% end %>