<footer class="footer">
	<div class="footer_inner width1100 content_format">
 		<p>2003-2009 © ООО «ТЕСТ»</p>
		<p>Тестовое задание для определения навыков</p>
		<a href="mailto:info@test.ru">info@test.ru</a>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>		
	</div>
</footer>	