<nav class="nav_main">
	<h2 class="h2 hide">Навигация администратора</h2>
	
	<ul>
		<li>
			<%= link_to 'Documents', controller: "documents", action: "index" %>
		</li>	

		<li>
			<%= link_to 'News', controller: "news", action: "index" %>
		</li>												
	</ul>
</nav>	