<div class="slider_head">	
	<div id="wrapper">
		<div class="slider-wrapper theme-default">
			<div id="slider" class="nivoSlider">
				<a href="#">
					<%= image_tag "uploads/nivo_slider/img1.jpg" %>
				</a>
				
				<a href="#">
					<%= image_tag "uploads/nivo_slider/img2.jpg" %>
				</a>
				
				<a href="#">
					<%= image_tag "uploads/nivo_slider/img3.jpg" %>
				</a>
			</div>
		</div>
	</div>
</div>

