<h1>Listing documents-</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= truncate(document.body, length: 300) %></td>
        <td><%= link_to 'Show', document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate %>


